<div class="p-6">
  <h1 class="font-bold mb-4">Acordeón</h1>
  <div class="max-w-md">
    <div>
      <h3>
        <button class="w-full rounded-t bg-white border border-b-0 py-2 text-lg flex px-4">
          Título #1
          <%= image_tag('chevron-down.svg', class: 'ml-auto rotate-180' ) %>
        </button>
      </h3>
      <div class="px-4 py-2 border bg-gray-200">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
    </div>
    <div>
      <h3>
        <button class="w-full bg-white border border-b-0 px-4 py-2 text-lg flex">
          Título #2
          <%= image_tag('chevron-down.svg', class: 'ml-auto rotate-180' ) %>
        </button>
      </h3>
      <div class="px-4 py-2 border bg-gray-200">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
    </div>
    <div>
      <h3>
        <button class="w-full bg-white border border-b-0 px-4 py-2 text-lg flex">
          Título #3
          <%= image_tag('chevron-down.svg', class: 'ml-auto rotate-180' ) %>
        </button>
      </h3>
      <div class="px-4 py-2 border bg-gray-200 rounded-b">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</div>
